*{
    margin: 0;
    padding: 0;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.clear::after{
    content: "";
    display: block;
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}
img{
    max-width: 100%;
}
.a{
    text-decoration: none;
}
.mid-content{
    max-width: 1100px;
    margin: auto;
}
.p-bg{
    background: #f7f9ff;
}

/*    begain   */

body,h1,h2,h3,h4,h5,h6,p,a,span{
    font-family: 'Work Sans', sans-serif;
}
.header-section{
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 6px 0;
}
.header-section a{
    color: #010101;
}
.header-logo{
    width: 30%;
}
.logo img{
    height: 50px;
    float: left;
    margin-right: 10px;
}
.logo span{
    margin-top: 10px;
    font-size: 25px;
    font-weight: 500;
    display: inline-block;
}
.header-menu{
    width: 57%;
}
.header-button{
    width: 13%;
    text-align: right;
}
.primary-menu{}
.primary-menu ul{}
.primary-menu ul li{
    display: inline-block;
}
.primary-menu ul li a{
    display: block;
    padding: 0 20px;
    font-size: 17px;
    line-height: 50px;
    text-decoration: none;
}
.primary-menu ul li a:hover{}
.header-btn{
    border: 2px solid #6278df;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 2px;
    border-radius: 10px;
    text-decoration: none;
    color: #6278df !important;
    font-size: 14px;
    font-weight: 600;
    z-index: 9;
}

/*   dropdown menu css   */

.primary-menu ul li{
    position: relative;
}
.primary-menu ul li ul{
    position: absolute;
    left: 0;
    top: 100%;
    width: 300px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    transform: scaleY(0);
    transform-origin: top center;
    z-index: 8;
}
.primary-menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

/*   banner css   */

.banner-section{
    background-image: url(img/03.jpg);
    background-size: cover;
    padding: 160px 0;
    position: relative;
    z-index: 6;
    color: white;
    
}
.banner-section::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .4);
    z-index: -1;
}
.banner-content{
    
}
.banner-content h3{
    font-weight: 400;
}
.banner-content h2{
    font-size: 40px;
    margin: 30px 0;
}
.default-btn{
    color: #7d7d7d;
    padding: 17px 23px;
    background: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    transition: .4s;
}
.default-btn:hover{
    background: #6278df;
    color: #fff;
}

/*   banner section   */

.banner-bottom{
    background: #f7f9ff;
    padding: 100px 0;
}
.video-left{
    width: 48%;
}
.video-content-right{
    width: 48%;
}
.video-content-right h3{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}
.video-content-right p{
    color: #767676;
    font-size: 17px;
    line-height: 1.8em;
}

/*  service section  */

.service-section{
    background: #fff;
    padding: 100px 0;
}
.section-title h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.section-title p{
    color: #767676;
    font-size: 20px;
}
/*   services items   */

.services-items{
    margin-top: 60px;
}
.service-box{
    width: 31%;
    box-shadow: 4px 4px 20px 0 rgba(0,0,0,.2);
    margin-right: 2%;
    margin-bottom: 30px;
    padding: 20px;
    box-sizing: border-box;
}
.service-box:nth-child(3n+3){
    margin-right: 0;
}
.s-icon{
    width: 30px;
    float: left;
    min-height: 130px;
    font-size: 35px;
    color: #6278df;
    margin-right: 25px;
    margin-top: 6px;
}
.s-content{
    margin-top: 8px;
}
.s-content h3{
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
}
.s-content p{
    color: #767676;
    font-size: 17px;
    line-height: 1.6em;
}

/*   pricing table  */

.priciing-table-section{
    background: #f7f9ff;
    padding: 50px;
}
.section-title{}
.section-title h1{
    font-size: 50px;
    font-weight: 400;
}
.pricing-table{
    margin-top: 50px;
}
.pricing-table-item{
    width: 31.3%;
    margin-right: 2%;
    background: #fff;
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223, .1);
}
.pricing-table-item:hover .p-heading{
    background-color: #6278df;
    color: #fff;
}
.pricing-table-item:nth-child(3){
    margin-right: 0;
}
.p-heading{
    padding: 30px;
    border-bottom: 1px solid #ddd;
}
.p-heading h4{
    font-size: 20px;
    font-weight: 500;
}
.p-heading h1{
    font-size: 40px;
    margin: 35px 0;
}
.p-heading h1 span{
    font-size: 20px;
}
.p-heading h5{
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 15px;
}
.p-heading p{
    font-size: 17px;
    line-height: 1.5em;
}

.p-content{
    padding: 30px;
}
.p-content ul{
    list-style: none;
}
.p-content ul li{
    margin: 25px 0;
    color: #767676;
    font-size: 17px;
}
.p-content ul li span{
    display: inline-block;
    font-size: 25px;
    color: #6278df;
    width: 40px;
}
.p-button .default-btn{
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223, .3);   
}
.pricing-table-item:hover .p-button .default-btn{
    background-color: #6278df;
    color: #fff;
}

/*   team member  */

.team-section{
    padding: 100px 0;
}
.team-members{}
.member{
    width: 23%;
    margin-right: 2%;
    background: #fff;
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223, .2);
}
.member img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.member-bio{
    padding: 30px;
}
.member-bio h4{
    font-size: 21px;
    margin-bottom: 10px;
    font-weight: 500;
}
.member-bio p{
    color: #767676;
    font-size: 16px;
}
.team-members{
    margin-top: 80px;
}
.team-section .section-title h1{
    font-size: 40px;
}

/*   newslatter section   */

.newslatter-section{
    padding: 100px 0;
}
.section-title.newslatter-title h2{
    margin-top: 40px;
    font-size: 35px;
    font-weight: 500;
}
.newslatter-form{
    margin-top: 45px;
}
.default-input{
    width: 300px;
    padding: 17px 15px;
    font-size: 20px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223, .1);
    transition: .4s;
    box-sizing: border-box;
}
.default-input:focus{
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223, .5);
    border: 1px solid #6278df;
}
.submit-btn{
    background: #6278df;
    padding: 18px 50px;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223, .1);
    border: 2px solid transparent;
    transition: .4s;
}
.submit-btn:hover{
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223, .4);
    background: #fff;
    border: 2px solid #6278df;
    color: #6278df;
}
/*   blog section   */

.blog-section{
    padding: 100px 0;
}
.blog-title{
    padding: 60px 0;
}
.b-hading{
    width: 50%;
}
.b-hading h2{
    font-size: 40px;
    font-weight: 500;
    margin-top: 20px;
}
.bt-content{
    width: 50%;
}
.bt-content p{
    color: #767676;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6em;
    text-align: center;
}
.blog-items{}
.blog-post-item{
    width: 48%;
    background: #fff;
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223, .2);
}
.blog-post-item img{
    float: left;
    width: 300px;
    margin-right: 20px;
}
.blog-post-content{
    margin-top: 20px;
}
.blog-post-content h3{
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 500;
}
.blog-post-content p{
    color: #767676;
    font-size: 18px;
    line-height: 1.6em;
}

/*   testimonial  */
.testimonial-section{
    padding: 100px;
}
.testimonial-items{
    margin-top: 70px;
}
.i-item{
    width: 32%;
    margin-right: 2%;
}
.i-item:last-child{
    margin-right: 0;
}
.t-content{
    background: #fff;
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223, .2);
    padding: 50px 35px;
    margin-bottom: 35px;
    box-sizing: border-box;
    position: relative;
}
.t-content::after{
    content: "";
    position: absolute;
    bottom: -18px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #ffffff transparent transparent transparent;
}
.t-content p{
    color: #767676;
    font-size: 18px;
    line-height: 1.7em;
    position: relative;
}
.t-content p::before{
    content: "\f10d";
    font-family: FontAwesome;
    font-size: 65px;
    position: absolute;
    opacity: .1;
    left: -15px;
    top: -4px;
}
.t-user-img{
    width: 200px;
    margin: auto;
}
.t-user-img img{
    border-radius: 50%;
    width: 70px;
    float: left;
    margin-right: 20px;
}
.t-user-bio{
    position: relative;
    top: 10px;
}
.t-user-bio h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
}
.t-user-bio p{
    color: #767676;
}
/*  contact   */

.contact-section{
    padding-top: 80px;
}
.contact-row{}
.content-left-map{
    width: 48%;
}
.content-right-form{
    width: 48%;
    margin-top: 30px;
}
.content-right-form h3{
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 20px;
}
.content-right-form p{
    font-size: 18px;
    color: #767676;
    line-height: 1.7em;
}
.default-input.w100{
    width: 100%;
}
.default-input.w50{
    width: 48%;
}
.footer-contact-form .default-input{
    margin-bottom: 20px;
}
.footer-contact-form{
    margin-top: 50px;
}
.footer-contact-form .submit-btn{
    margin-left: 0;
}
.footer-contact-form textarea{
    height: 180px;
}

/*   footer   */

.footer{
    padding: 20px 0;
    margin-top: 40px;
}
.footer p{
    font-size: 20px;
}